extends layout

block content 
    +navbar
    div(class="create-item-container")
        h1= "Create a new stock item"
        div(class="create-form")
            form(method="POST" action="/manga/create" enctype="multipart/form-data")
                input(type="text"   name="item_name"        placeholder="Listing Title" id="manga-name-create" required)
                input(type="text"   name="item_description" placeholder="Manga Description" id="manga-description-create" required)
                input(type="text"   name="item_categories"  placeholder="Manga Categories" id="manga-categories-create" required)
                input(type="number" name="price"            placeholder='10.00' id="manga-price-create" min=10 required)
                input(type="number" name="number_in_stock"  placeholder='1' id="manga-stock-create" required)
                input(type="text"   name="item_publisher"   placeholder="Author Name" id="manga-author-create" required)
                input(type="text"   name="item_author"      placeholder="Publisher Name" id="manga-publisher-create" required)
                input(type='file'   name="item_picture"     placeholder="Item Picture" id="manga-picture-upload" accept=".jpg, .jpeg, .png" required)
                input(type="submit")