extends layout

block content 
    h1= "Create a new stock item"
    p="Keep track of stock and current price"
    form(method="POST" action="/manga/create")
        input(type="text"   name="item_name"  placeholder="Listing Title" id="manga-name-create")
        input(type="text"   name="item_description" placeholder="Manga Description" id="manga-description-create")
        input(type="text"   name="item_categories" placeholder="Manga Categories" id="manga-categories-create")
        input(type="number" name="price" placeholder='5.00' id="manga-price-create")
        input(type="number" name="number_in_stock" placeholder='1' id="manga-stock-create")
        input(type="text"   name="item_publisher"  placeholder="Author Name" id="manga-author-create")
        input(type="text"   name="item_author" placeholder="Publisher Name" id="manga-publisher-create") 