extends layout 

block content
    +navbar
    div(class="category-list-wrapper")
        each cat in categoryKeys
            a(href=`/manga/category/${cat}` class="category-list-and-number")
                h3= cat 
                h3= uniqueCategories[cat] 